{{ attach_library('bizness/main-menu') }}
{% set toggle_expand_class = 'toggle-expand' %}

<button aria-expanded="false" aria-controls="main-nav" id="toggle-expand" {{ bem(toggle_expand_class, toggle_bg_modifiers) }}>
  <div {{ bem('open', [], toggle_expand_class, ['visually-hidden']) }}>Open Menu</div>
  <div {{ bem('close', [], toggle_expand_class, ['visually-hidden']) }}>Close Menu</div>
  <div {{ bem('main-menu-icon-wrapper', [], toggle_expand_class) }}>
    <div {{ bem('menu-icon-wrapper', [], toggle_expand_class) }}>
      <span {{ bem('line', ['first'], toggle_expand_class) }}></span>
      <span {{ bem('line', ['second'], toggle_expand_class) }}></span>
      <span {{ bem('line', ['third'], toggle_expand_class) }}></span>
    </div>
  </div>
</button>

<div id="main-nav" {{ bem('main-nav') }}>
  <nav {{ bem('main-nav__wrapper') }}{% if menu_title %} aria-labelledby="main-nav-label"{% endif %}>
    {% if menu_title %}
      <h2 class="visually-hidden" id="main-nav-label">{{ menu_title }}</h2>
    {% endif %}
    {% include "@molecules/menus/_menu.twig" with {
      menu_class: "main-menu",
      items: menu_items,
    } %}
  </nav>
</div>
