{#
/**
 * @file
 * Theme override to display a pager.
 *
 * Available variables:
 * - items: List of pager items.
 *   The list is keyed by the following elements:
 *   - first: Item for the first page; not present on the first page of results.
 *   - previous: Item for the previous page; not present on the first page
 *     of results.
 *   - next: Item for the next page; not present on the last page of results.
 *   - last: Item for the last page; not present on the last page of results.
 *   - pages: List of pages, keyed by page number.
 *   Sub-sub elements:
 *   items.first, items.previous, items.next, items.last, and each item inside
 *   items.pages contain the following elements:
 *   - href: URL with appropriate query parameters for the item.
 *   - attributes: A keyed list of HTML attributes for the item.
 *   - text: The visible text used for the item link, such as "‹ Previous"
 *     or "Next ›".
 * - current: The page number of the current page.
 * - ellipses: If there are more pages than the quantity allows, then an
 *   ellipsis before or after the listed pages may be present.
 *   - previous: Present if the currently visible list of pages does not start
 *     at the first page.
 *   - next: Present if the visible list of pages ends before the last page.
 *
 * @see template_preprocess_pager()
 */
#}
{% set pager__base_class = 'pager' %}

{% set first_number = '' %}
{% set last_number = '' %}

{% if items.first %}
  {% set first_number = items.first ? items.first.href|split('=')[1]|number_format + 1 : '' %}
{% endif %}

{% if items.last %}
  {% set last_number = items.last ? items.last.href|split('=')[1]|number_format + 1 : '' %}
{% endif %}

{% if items %}
  <nav {{ bem(pager__base_class) }} aria-label="{{ pagination_id|default('Pagination'|t) }}">
    <h4 id="pagination-heading" {{ bem('visually-hidden') }}>{{ 'Pagination'|t }}</h4>
    <ul {{ bem('items', [], pager__base_class, ['js-pager__items']) }}>

      {# Print previous item if we are not on the first page. #}
      {% if items.previous %}
        <li {{ bem('item', ['previous'], pager__base_class) }}>
          <a {{ bem('link', ['previous'], pager__base_class) }} href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" aria-label="{{ 'Go to previous page'|t }}" rel="previous" {{ items.previous.attributes|without('href', 'title', 'rel') }}>
            <span aria-hidden="true">{{ items.previous.text|default('Previous page'|t) }}</span>
            {% include "@atoms/images/icons/_icon.twig" with {
              icon_name: 'arrow-short',
            } %}
          </a>
        </li>
      {% else %}
        <li {{ bem('item', ['previous', 'disable'], pager__base_class) }}>
          {% include "@atoms/images/icons/_icon.twig" with {
            icon_name: 'arrow-short',
          } %}
        </li>
      {% endif %}

      {# Print first item if we are not on the first page. #}
      {% if items.first %}
        <li {{ bem('item', ['first'], pager__base_class) }}>
          <a {{ bem('link', ['first'], pager__base_class) }} href="{{ items.first.href }}" title="{{ 'Go to first page'|t }}" aria-label="{{ 'Go to first page'|t }}" {{ items.first.attributes|without('href', 'title') }}>
            <span {{ bem('label', [], pager__base_class) }} aria-hidden="true">{{ 'First page'|t }}</span>
            {{ first_number }}
          </a>
        </li>
      {% endif %}

      {# Print ellipses if there are more previous pages. #}
      {% if (ellipses.previous) and (current >= 4) %}
        <li {{ bem('item', ['previous-ellipses'], pager__base_class) }}>
          ...
        </li>
      {% endif %}

      {# Add one more previous item in pager when page it's in the first item, to always show 5 items in pager #}
      {% if (first_number and not last_number) or (current|number_format() + 1 == last_number) %}
        {% set first_item = items.pages|first %}
        {% set key = first_item.href|trim('?page=') %}
        <li {{ bem('item', [], pager__base_class) }}>
          <a {{ bem('link', [], pager__base_class) }} href="?page={{key - 1}}" title="Go to page {{key}}">
            {{- key -}}
          </a>
        </li>
      {% endif %}

      {# Now generate the actual pager piece. #}
      {% for key, item in items.pages %}
        {% set current_class = current == key ? ' is-active' : '' %}
        {% set isFirstNumber = key == first_number %}
        {% set isLastNumber = key == last_number %}

        {% if (isFirstNumber == false) and (isLastNumber == false)  %}
          <li {{ bem('item', [], pager__base_class, [current_class]) }}>
            {% set title = current == key ? 'Current page'|t : 'Go to page @key'|t({'@key': key}) %}
            <a {{ bem('link', [], pager__base_class, [current_class]) }} href="{{ item.href }}" title="{{ title }}" {{ item.attributes|without('href', 'title') }} {% if current_class == ' is-active' %}tabindex="-1"{% endif %}>
              {{- key -}}
            </a>
          </li>
        {% endif %}
      {% endfor %}

      {# Add one more next item in pager when page it's in the first item, to always show 5 items in pager #}
      {% if (current <= 2) and (items.pages|length == 3) %}
        <li {{ bem('item', [], pager__base_class) }}>
          <a {{ bem('link', [], pager__base_class) }} href="?page=3" title="Go to page 4">
            {{- 4 -}}
          </a>
        </li>
      {% endif %}

      {# Print ellipses if there are more next pages. #}
      {% if (ellipses.next) and (current <= last_number - 3) %}
        <li {{ bem('item', ['next-ellipses'], pager__base_class) }}>
          ...
        </li>
      {% endif %}

      {# Print last item if we are not on the last page. #}
      {% if items.last %}
        <li {{ bem('item', ['last'], pager__base_class) }}>
          <a {{ bem('link', ['last'], pager__base_class) }} href="{{ items.last.href }}" title="{{ 'Go to last page'|t }}" aria-label="{{ 'Go to last page'|t }}" {{ items.last.attributes|without('href', 'title') }}>
            <span {{ bem('label', [], pager__base_class) }} aria-hidden="true">{{ 'Last page'|t }}</span>
            {{ last_number }}
          </a>
        </li>
      {% endif %}

      {# Print next item if we are not on the last page. #}
      {% if items.next %}
        <li {{ bem('item', ['next'], pager__base_class) }}>
          <a {{ bem('link', ['next'], pager__base_class) }} href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" aria-label="{{ 'Go to next page'|t }}" rel="next" {{ items.next.attributes|without('href', 'title', 'rel') }}>
            <span {{ bem('label', [], pager__base_class) }} aria-hidden="true">{{ 'Next page'|t }}</span>
            {% include "@atoms/images/icons/_icon.twig" with {
              icon_name: 'arrow-short',
            } %}
          </a>
        </li>
      {% else %}
        <li {{ bem('item', ['next', 'disable'], pager__base_class) }}>
          {% include "@atoms/images/icons/_icon.twig" with {
            icon_name: 'arrow-short',
          } %}
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
