{% set breakpoints__base_class = 'cl-table' %}

<div {{ bem('wrapper', [], breakpoints__base_class) }}>
  {% include "@atoms/text/headings/_heading.twig" with {
    heading_level: 1,
    heading: breakpoints_heading,
    heading_base_class: breakpoints__base_class,
  } %}
  <table {{ bem(breakpoints__base_class) }}>
    <thead>
      <tr>
        <th {{ bem('header', [], breakpoints__base_class) }}>
          Breakpoint
        </th>
        <th {{ bem('header', [], breakpoints__base_class) }}>
          Variable
        </th>
        <th {{ bem('header', [], breakpoints__base_class) }}>
          Width
        </th>
        <th {{ bem('header', [], breakpoints__base_class) }}>
          Layout columns
        </th>
      </tr>
    </thead>
    <tbody>
      {% for breakpoint in breakpoints %}
        <tr {{ bem('body', [], breakpoints__base_class, ['clipboard-item']) }}
          data-copy="{{ '@include ' ~ breakpoint.variable ~ ' {}' }}">
          <td {{ bem('name', [], breakpoints__base_class) }}>
            {{ breakpoint.name }}
          </td>
          <td {{ bem('variable', [], breakpoints__base_class) }}>
            {{ breakpoint.variable }}
          </td>
          <td {{ bem('value', [], breakpoints__base_class) }}>
            {{ breakpoint.value }}
          </td>
          <td {{ bem('columns', [], breakpoints__base_class) }}>
            {{ breakpoint.columns }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
