{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('bizness/image_list') }}

{% set classes = ['section'] %}
{% set image_list__collage_image_alignment = '' %}
{% set content = content[0]|default(content) %}
{% set primary_group_images_amout = content.field_images_2_items['#items'].value|length %}
{% set secondary_group_images_amout = content.field_images_secondary_2_items['#items'].value|length %}

{% if primary_group_images_amout < secondary_group_images_amout %}
  {% set image_list__collage_image_alignment = 'left' %}
{% elseif primary_group_images_amout > secondary_group_images_amout %}
  {% set image_list__collage_image_alignment = 'right' %}
{% elseif primary_group_images_amout == secondary_group_images_amout %}
  {% set image_list__collage_image_alignment = 'left' %}
{% endif %}

<div{{attributes.addClass(['layout__block', 'images-block'])}}>
  {% set attributes = attributes.removeClass(['layout__block', 'images-block']) %}
  {{ title_suffix }}
  {# This is needed to display the block contextual menu #}
  <div>
    <div{{attributes.addClass(classes)}}>
      {% embed "@organisms/image-list/image-list.twig" with {
        image_list__modifiers: 'collage',
        image_list__collage_image_alignment: image_list__collage_image_alignment
      } %}
        {% block primary_image %}
          {{ content.field_images_2_items }}
        {% endblock %}
        {% block secondary_image %}
          {{ content.field_images_secondary_2_items }}
        {% endblock %}
      {% endembed %}
    </div>
  </div>
</div>
