{% set show__base_class = 'node-show' %}
{% set breadcrumb = [{
  url: '/resources',
  text: 'Resources',
}, {
  url: '/resources?type%5Bepisode%5D=episode',
  text: 'Podcasts',
}
] %}

<article {{ bem(show__base_class, [], [], classes) }}>
  {% embed "@templates/_default.twig" with {
    has_sidebar: true,
  } %}
    {% block section_header %}
      {% include "@molecules/resource-node-hero/resource-node-hero.twig" with {
        resource_lead: label,
        resource_is_podcast: true,
        resource__modifiers: ['podcast'],
        resource_content: node.field_deck.value,
        resource_podcast_links: [
          {
            icon: 'rss',
            text: 'RSS Feed',
            href: node.field_rss_feed_url.0.url,
          },
          {
            text: 'iTunes',
            icon: 'itunes',
            href: node.field_itunes_url.0.url,
          },
          {
            text: 'Google Play',
            icon: 'apple-podcast',
            href: node.field_google_play_url.0.url,
          },
          {
            text: 'Stitcher',
            icon: 'stitcher',
            href: node.field_stitcher_url.0.url,
          },
          {
            text: 'Spotify',
            icon: 'spotify',
            href: node.field_spotify_url.0.url,
          },
        ],
        resource_image: content.field_show_hero_background_image,
      } %}
    {% endblock %}
    {% block section_content %}
      <div {{ bem('content', [], show__base_class) }}>
        {{ drupal_view('podcast_episodes', 'block_1', node.nid.value )}}
      </div>
    {% endblock %}
    {% block section_sidebar %}
      {{ drupal_entity('block', 'footer_newsletter') }}
      {{ content.field_authors }}
    {% endblock %}
  {% endembed %}
</article>
