{{ attach_library('bizness/header_helper') }}

{% set header__base_class = 'header' %}
{# If `directory` is defined, set the path relative for Drupal.
 # Otherwise, set the path relative to the Component Library. #}
{% set header__logo_src = directory ? '/' ~ directory ~ '/images/logo.svg' : 'logo.svg' %}

<header {{ bem(header__base_class) }}>
  <div {{ bem('container', [], header__base_class) }}>
    <div {{ bem('branding', [], header__base_class) }}>
      {% block header__branding %}
        {% include "@atoms/logo/logo.twig" %}
      {% endblock %}
    </div>
    <div {{ bem('menu', [], header__base_class) }}>
      {% block header__menu %}
        {% include "@molecules/menus/main-menu/main-menu.twig" %}
      {% endblock %}
    </div>
    {% block header__search %}
      {% include "@molecules/header-search/header-search.twig" %}
    {% endblock %}
    {% include "@atoms/buttons/button.twig" with {
      button_type: 'link',
      button_content: 'Contact',
      button_url: '/contact',
      button_modifiers: ['contact'],
    } %}
  </div>
</header>
