{#
/**
 * Available variables:
 * - fancy_list__base_class - base classname of the component.
 * - fancy_list__modifiers - class to select the list bullet type (bullets, checkmarks & numbered).
 * - fancy_list__heading - component title.
 * - fancy_list__items - base classname of the wrapper.
 */
 #}
{% set fancy_list__base_class = "fancy-list" %}
{% set list_tag = fancy_list__modifiers == 'numbered' ? 'ol' : 'ul' %}

<div {{ bem(fancy_list__base_class)}}>
  {% if fancy_list__heading %}
    <div {{ bem("header-wrapper", [], fancy_list__base_class) }}>
      {% include "@atoms/text/text/01-paragraph.twig" with {
        paragraph_modifiers: ["md"],
        paragraph_base_class: "label",
        paragraph_content: fancy_list__heading,
      } %}
      <div {{ bem("line", [], fancy_list__base_class) }}></div>
    </div>
  {% endif %}
  {% if fancy_list__items %}
    <{{list_tag }} {{ bem("items", [fancy_list__modifiers|default('bullets')], fancy_list__base_class) }}>
      {% for item in fancy_list__items %}
        <li {{ bem("item", [], fancy_list__base_class) }}>
          {% include "@atoms/text/text/01-paragraph.twig" with {
            paragraph_content: item,
            paragraph_modifiers: ["lg"],
            paragraph_base_class: "info",
          } %}
        </li>
      {% endfor %}
    </{{list_tag }}>
  {% endif %}
</div>
