{% set bio__base_class = 'node-bio' %}

<article {{ bem(bio__base_class, [], [], classes) }}>
  {% embed "@templates/_default.twig" with {
    has_sidebar: true,
  } %}
    {% block section_content %}
      <div {{ bem('content', [], bio__base_class) }}>
        {% set pronuns = content.field_bio_gender_pronoun[0]|render|split('/') %}
        {% include "@molecules/bio/header/header.twig" with {
          heading: label,
          heading_level: 1,
          position: content.field_bio_position[0],
          location: content.field_bio_location[0],
          pronouns: pronuns,
          links: social_info,
        } %}
        {{ content.body }}
      </div>
    {% endblock %}
    {% block section_sidebar %}
      {% embed "@molecules/bio/expertise/expertise.twig" with {
        expertise__heading: expertise_heading,
        expertise_list: content.field_bio_expertise.0 ? TRUE : FALSE,
      } %}
        {% block image_content %}
          <div {{ bem('image',[], 'bio-expertise') }}>
            {{ content.field_bio_media }}
            {% include "@atoms/pattern/pattern.twig" %}
          </div>
        {% endblock %}
        {% block expertise_list %}
          {% if content.field_bio_expertise.0 %}
            <ul {{ bem('items', [], 'bio-expertise') }}>
              {{ content.field_bio_expertise }}
            </ul>
          {% endif %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
    {% block section_footer %}
      {% if content.field_bio_fact[0] %}
      <section class="layout layout--light">
        {% include "@molecules/vertical-list/vertical-list.twig" with {
            vertical_list__heading: 'Did you know?',
            vertical_list__heading_size: 'xs',
            vertical_list__heading_style: 'decorated',
            vertical_list__description: content.field_bio_fact[0],
            vertical_list__modifiers: ['text', 'gray'],
        } %}
      </section>
      {% endif %}
      {% if content.field_extra_information["#items"] %}
      <section class="layout layout--white {{ content.field_bio_fact[0] ? 'layout--no-bottom-padding' : 'layout--no-padding' }}">
        {% embed "@molecules/vertical-list/vertical-list.twig" with {
            vertical_list__heading: 'More about ' ~ content.field_first_name[0]|render,
            vertical_list__heading_size: 'lg',
            vertical_list__heading_style: 'decorated',
            vertical_list__sub_heading: content.field_more_about[0],
            vertical_list__modifiers: ['link'],
        } %}
          {% block vertical_list %}
          {{ content.field_extra_information }}
          {% endblock %}
        {% endembed %}
      </section>
      {% endif %}
      {% if drupal_view_result('you_may_also_enjoy', 'resources_author_block', node.nid.value) %}
        <section class="layout layout--light">
          {{ drupal_view('you_may_also_enjoy', 'resources_author_block', node.nid.value) }}
        </section>
      {% endif %}
      {% if drupal_view_result('case_study', 'block_bio', node.nid.value) %}
        <section class="layout layout--dark">
          {{ drupal_view('case_study', 'block_bio', node.nid.value) }}
        </section>
      {% endif %}
    {% endblock %}
  {% endembed %}
</article>
