{% set footer__base_class = 'footer' %}
{% set footer__modifiers = [] %}

{% if footer__abbreviated %}
  {% set footer__modifiers = footer__modifiers|merge(['abbreviated']) %}
{% endif %}

<footer {{ bem(footer__base_class, footer__modifiers) }}>
  {% if not footer__abbreviated %}
    <div {{ bem('primary', [], footer__base_class, ['section']) }}>
      <div {{ bem('left', [], footer__base_class, ['primary']) }}>
        {% block footer__connect %}
          {% include "@molecules/lets-talk/lets-talk.twig" %}
        {% endblock %}
      </div>
      <div {{ bem('right', [], footer__base_class, ['primary']) }}>
        {% include "@atoms/pattern/pattern.twig" with {
          pattern__modifiers: ['dots', 'dark']
        } %}
      </div>
    </div>
  {% endif %}
  <div {{ bem('secondary', footer__modifiers, footer__base_class, ['section']) }}>
    <div {{ bem('left', [], footer__base_class, ['secondary']) }}>
      <div {{ bem('nav', [], footer__base_class) }}>
        {% block footer__menu %}
          {% include "@molecules/menus/footer-menu/footer-menu.twig" %}
        {% endblock %}
      </div>
    </div>
    <div {{ bem('right', [], footer__base_class, ['secondary']) }}>
      <div {{ bem('newsletter', [], footer__base_class) }}>
        {% block footer__newsletter %}
          {% include "@molecules/promo-card/promo-card.twig" %}
        {% endblock %}
      </div>
      <div {{ bem('social', [], footer__base_class) }}>
        {% include "@molecules/menus/social/social-menu.twig" with {
          items: [
            {
              icon: 'rss',
              title: 'RSS',
              url: '/rss/feed',
            },
            {
              icon: 'twitter',
              title: 'Twitter',
              url: 'https://twitter.com/bizness',
            },
            {
              icon: 'linkedin',
              title: 'Linkedin',
              url: 'https://www.linkedin.com/company/bizness',
            },
          ],
        } %}
      </div>
    </div>
  </div>
</footer>
