{#
  Template: node--music--teaser.html.twig
  Purpose: Teaser display for the Music content type with two columns: cover image on the left, and other fields on the right.
#}

<div{{ attributes.addClass('node--music-teaser', 'teaser') }}>
  
  <div class="row">
    {# Cover Image on the left #}
    <div class="col-md-4 music-cover">
      {% if content.field_cover_art %}
        <div class="music-cover-image">
          {{ content.field_cover_art }}
        </div>
      {% endif %}
    </div>

    {# Other fields on the right #}
    <div class="col-md-8 music-details">
      <div class="music-title">
        <h2>{{ label }}</h2> {# Title of the music #}
      </div>


       {# Music Type #}
       {% if content.field_music_type %}
        <div class="music-type">
          {{ content.field_music_type }}
        </div>
       {% endif %}

       {# Artists #}
       {% if content.field_artist %}
        <div class="music-artist">
          {{ content.field_artist }}
        </div>
       {% endif %}

       {# Listen On #}
       {% if content.field_external_streaming_links %}
        <div class="music-type">
          {{ content.field_external_streaming_links }}
        </div>
       {% endif %}

    </div>
  </div>

</div>