{#
/**
 * Available variables:
 * - results_teaser__title: Results teaser title.
 * - results_teaser__url: Results teaser url.
 * - results_teaser__description: Results teaser description.
 * - results_teaser__type: Results teaser type.
 * - results_teaser__authors: Results teaser authors list.
 * - results_teaser__date: Results teaser date.
 * - results_teaser__episode: Results teaser episode number (Only for podcast).
 * - results_teaser__topics_list: Results teaser topics list.
 */
#}

{% set results_teaser__base_class = 'results-teaser' %}
{% set type_episode__modifier = '' %}
{% if results_teaser__authors is empty %}
  {% set type_episode_wrapper__modifier = 'no-author' %}
{% elseif results_teaser__episode %}
  {% set type_episode_wrapper__modifier = 'episode-shows' %}
{% endif %}

<div {{ bem(results_teaser__base_class) }} {{ attributes }}>
  <div {{ bem('pre-content', [], results_teaser__base_class) }}>
    <div {{ bem('type-episode-wrapper', [type_episode_wrapper__modifier], results_teaser__base_class) }}>
      {% if results_teaser__type %}
        <div {{ bem('type', [], results_teaser__base_class) }}>
          {{ results_teaser__type }}
        </div>
      {% endif %}
      {% if results_teaser__episode %}
        <div {{ bem('episode', [], results_teaser__base_class) }}>
          # {{ results_teaser__episode }}
        </div>
      {% endif %}
    </div>
    <div {{ bem('author-date-wrapper', [], results_teaser__base_class) }}>
      {% if results_teaser__authors is not empty %}
        <div {{ bem('author', [], results_teaser__base_class) }}>
          {% include "@atoms/text/text/01-paragraph.twig" with {
            "paragraph_content": "by",
            "paragraph_modifiers": ["sm"],
          } %}
          {% for author in results_teaser__authors %}
            {% if not loop.first and not loop.last %}, {% endif %}
            {% if not loop.first and loop.last %} and {% endif %}

            {% include "@atoms/links/link/link.twig" with {
              link_url: author.url,
              link_content: author.name,
              link_modifiers: ['inline'],
            } %}
          {% endfor %}
        </div>
        {% endif %}
        {% if results_teaser__date %}
        <div {{ bem('date', [], results_teaser__base_class) }}>
          {% include "@atoms/text/text/01-paragraph.twig" with {
            "paragraph_modifiers": ["sm"],
            "paragraph_content": results_teaser__date,
          } %}
        </div>
      {% endif %}
    </div>
  </div>
  {% if results_teaser__title %}
    {% include "@atoms/links/link/link.twig" with {
      link_content: results_teaser__title,
      link_url: results_teaser__url,
      link_modifiers: 'results-teaser',
      link_blockname: results_teaser__base_class,
      link_base_class: 'title-link',
    } %}
  {% endif %}
  {% if results_teaser__description %}
    <div {{ bem('description', [], results_teaser__base_class) }}>
      {% include "@atoms/text/text/01-paragraph.twig" with {
        "paragraph_modifiers": ["lg"],
        "paragraph_content": results_teaser__description,
      } %}
    </div>
  {% endif %}
  {% if results_teaser__topics_list %}
    <ul {{ bem('topics', [], results_teaser__base_class) }}>
      {% for topic in results_teaser__topics_list %}
        <li {{ bem('topic', [], results_teaser__base_class) }}>
          {% include "@atoms/buttons/button.twig" with {
            button_type: 'link',
            button_url: topic.url,
            button_content: topic.title,
            button_modifiers: ['secondary'],
          } %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
