{#
/**
 * Available variables:
 * - cta_promo__title: CTA promo title.
 * - cta_promo__description: CTA promo description.
 * - cta_promo__link: CTA promo custom link.
 * - cta_promo__modifiers: modifiers of CTA promo.
 */
#}

{% set cta_promo__base_class = 'cta-promo' %}
{% set cta_promo___extra_classes = cta_promo___extra_classes|default([]) %}

{% if 'card' in cta_promo__modifiers %}
  {% set cta_promo___extra_classes = cta_promo___extra_classes|merge(['section']) %}
{% endif %}

<div {{ bem('wrapper', [], cta_promo__base_class, cta_promo___extra_classes) }}>
  <div {{ bem(cta_promo__base_class, cta_promo__modifiers) }} {{ attributes }}>
    {# Image #}
    {% if 'image' in cta_promo__modifiers %}
    <div {{ bem('image', [], cta_promo__base_class) }} >
      {% block cta_promo__image %}
        {% include '@atoms/images/image/_image.twig' with {
          image_src: cta_promo__image.src,
          image_alt: cta_promo__image.alt,
        }%}
      {% endblock %}
    </div>
    {% endif %}
    {% if 'image' in cta_promo__modifiers %}
      <div {{ bem('text', [], cta_promo__base_class) }} >
    {% endif %}
      {% if cta_promo__title %}
        {% include "@atoms/text/headings/_heading.twig" with {
          heading_level: 2,
          heading: cta_promo__title,
          heading_modifiers: [cta_title_size|default('xl'), "decorated"],
          heading_base_class: cta_promo__heading_size|default('heading'),
        } %}
      {% endif %}
      <div {{ bem('content', [], cta_promo__base_class) }}>
        {% block cta_promo__description %}
          {% if cta_promo__description %}
            {% include "@atoms/text/text/01-paragraph.twig" with {
              paragraph_modifiers: ["lg"],
              paragraph_content: cta_promo__description,
            } %}
          {% endif %}
        {% endblock %}
        {% if cta_promo__link.text %}
          {% include "@atoms/links/link/link.twig" with {
            link_url: cta_promo__link.href,
            link_content: cta_promo__link.text,
          } %}
        {% endif %}
      </div>
    {% if 'image' in cta_promo__modifiers %}
      </div>
    {% endif %}
  </div>
</div>
