{% set is_main_content = layout_content_type == 'main' %}
{% set has_sidebar = has_sidebar|default(is_main_content) %}

{% set additional_attributes = {} %}
{% set layout_modifiers = layout_modifiers|default([]) %}
{% set layout_base_class = is_main_content ? 'main' : 'section' %}

{% if has_sidebar %}
  {% set layout_modifiers = layout_modifiers|merge(['with-sidebar']) %}
{% endif %}

{% if is_main_content %}
  {% set additional_attributes = additional_attributes|merge({
    'role': 'main'
  }) %}
{% endif %}

<div {{ bem('wrapper', [], layout_base_class) }}>
  {% block section_header %}{% endblock %}
  {% block section_system %}{% endblock %}
  <div {{ bem(layout_base_class, layout_modifiers, '', extra_classes) }}>
    {% if is_main_content %}
      <a id="{{layout_base_class ~ '__content'}}" tabindex="-1"></a>
    {% endif %}
    <div {{ bem('content', [], layout_base_class) }} {{ add_attributes(additional_attributes) }}>
      {% block section_content %}{% endblock %}
    </div>
    {% if has_sidebar %}
      <aside {{ bem('sidebar', layout_modifiers, layout_base_class) }} role="complementary">
        {% block section_sidebar %}{% endblock %}
      </aside>
    {% endif %}
  </div>
  {% block section_footer %}{% endblock %}
</div>
