{% set docs__base_class = 'documentation' %}

<div {{ bem(docs__base_class) }}>
  <div {{ bem('section', [], docs__base_class, ['section']) }}>
    <div {{ bem('content', [], docs__base_class, ['section__content']) }}>
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 1,
        heading: 'Documentation',
        heading_modifiers: ['lg', 'decorated']
      } %}
      {% include '@atoms/text/text/01-paragraph.twig' with {
        paragraph_modifiers: ['lg'],
        paragraph_content: 'Next is a guide to the use of the functionalities that will help understand how the theme was developed, in order to be implemented/improved in future developments.',
      } %}
    </div>
  </div>

  <div {{ bem('section', [], docs__base_class, ['section']) }}>
    <div {{ bem('content', [], docs__base_class, ['section__content']) }}>
      {% include "@atoms/text/headings/_heading.twig" with {
        heading: 'Base',
        heading_level: 2,
        heading_modifiers: ['md']
      } %}
      {% include "@molecules/accordion-list/accordion-list.twig" with {
        accordion_list__items: docs_definition_items,
      } %}
    </div>
  </div>

  <div {{ bem('section', [], docs__base_class, ['section']) }}>
    <div {{ bem('content', [], docs__base_class, ['section__content']) }}>
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 2,
        heading: 'Typography',
        heading_modifiers: ['md']
      } %}
      {% include "@molecules/accordion-list/accordion-list.twig" with {
        accordion_list__items: docs_typography_items,
      } %}
    </div>
  </div>
  <div {{ bem('section', [], docs__base_class, ['section']) }}>
    <div {{ bem('content', [], docs__base_class, ['section__content']) }}>
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 2,
        heading: 'Layout',
        heading_modifiers: ['md']
      } %}
      {% include "@molecules/accordion-list/accordion-list.twig" with {
        accordion_list__items: docs_layout_items,
      } %}
    </div>
  </div>
</div>
