{# 
/**
 * Available variables:
 * - link_list_primary__base_class - base classname of the wrapper.
 */
 #}
    
{% set link_list_primary__base_class = 'link-list-primary' %}

{# Add a class to the list based on the block heading. #}
{% set block_heading = link_list_primary__heading['#context'].value|replace({' ':'-'})|lower %}

<div {{ bem(link_list_primary__base_class)}}>
  {# Heading #}
  {% if link_list_primary__heading %}
    <div {{ bem('header-wrapper', [], link_list_primary__base_class) }}>
        {% include '@atoms/text/text/01-paragraph.twig' with {
          paragraph_modifiers: ['md'],
          paragraph_base_class: 'label',
          paragraph_content: link_list_primary__heading,
        } %}
      <div {{ bem('line', [], link_list_primary__base_class) }}></div>
    </div>
  {% endif %}
  {% if link_list_primary__items %}
    <ul class="link-list-primary__items {{ block_heading }}">
      {% for item in link_list_primary__items %}
        <li {{ bem('item', [], link_list_primary__base_class) }}>
          {% include "@atoms/links/link/link.twig" with {
            link_url: item.link_url,
            link_content: item.link_content,
            link_modifiers: ['inline'],
          } %}
          {% if item.link_description %}
            {% include '@atoms/text/text/01-paragraph.twig' with {
              paragraph_modifiers: ['xs'],
              paragraph_content: item.link_description,
            } %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
