{#
/**
 * Available variables:
 * - hero__title: Article title.
 * - hero__author: User reference.
 * - hero__date: Creation date.
 */
#}

{% set hero__base_class = 'hero-article' %}

<div {{ bem(hero__base_class) }} {{ attributes }}>
  {% embed "@templates/_default.twig" with {
    has_sidebar: true,
  } %}
    {% block section_content %}
      {% if breadcrumb %}
        {% include "@molecules/menus/breadcrumbs/breadcrumbs.twig" %}
      {% endif %}
      {% if hero__title %}
        {% include "@atoms/text/headings/_heading.twig" with {
          "heading_level": 1,
          "heading": hero__title,
          "heading_modifiers": ["2xl"],
        } %}
      {% endif %}
      {% if hero__description %}
        <div  {{ bem('description', [], hero__base_class) }}>
          {% include "@atoms/text/text/01-paragraph.twig" with {
            "paragraph_content": hero__description,
            "paragraph_modifiers": ["xl"],
          } %}
        </div>
      {% endif %}
      {% if hero__authors %}
        <div {{ bem('author', [], hero__base_class) }}>
          {% include "@atoms/text/text/01-paragraph.twig" with {
            "paragraph_content": "By",
            "paragraph_modifiers": ["sm"],
          } %}
          {% for author in hero__authors %}
            {% if not loop.first and not loop.last %}, {% endif %}
            {% if not loop.first and loop.last %} and {% endif %}

            {% include "@atoms/links/link/link.twig" with {
              link_url: author.url,
              link_content: author.name,
              link_modifiers: ['inline'],
            } %}
          {% endfor %}
        </div>
      {% endif %}
      {% if hero__date %}
        <div {{ bem('date', [], hero__base_class) }}>
          {% include "@atoms/text/text/01-paragraph.twig" with {
            "paragraph_modifiers": ["sm"],
            "paragraph_content": hero__date,
          } %}
        </div>
      {% endif %}
    {% endblock %}
    {% block section_sidebar %}
      {% include "@atoms/pattern/pattern.twig" %}
    {% endblock %}
  {% endembed %}
</div>
