{% set palettes_base_class = "cl-palettes" %}

<div {{ bem(palettes_base_class) }}>
  {% include "@atoms/text/headings/_heading.twig" with {
    heading_level: 1,
    heading: palettes_heading,
    heading_base_class: palettes_base_class,
  } %}

  <ul>
    {% for palette in palettes %}
      {% set palette_name = palette.name|lower|replace({' ': '-'}) %}
      <li {{ bem("palette", [palette_name], palettes_base_class) }}>
        {% include "@atoms/text/headings/_heading.twig" with {
          heading_level: 2,
          heading: palette.name,
          heading_base_class: palettes_base_class,
        } %}
        <ul {{ bem("colors", [palette_name], palettes_base_class) }}>
          {% for color in palette.colors %}
            {% set color_variant = color.name|lower|replace({' ': '-'}) %}
            {% set color_modifiers = palette_name ~ '-' ~ color_variant %}
            <li {{ bem("color", [color_modifiers], palettes_base_class) }}>
              <span {{ bem("swatch", [], palettes_base_class, ['clipboard-item']) }}
                data-copy="{{ 'clr(' ~ palette_name ~ ', ' ~ color.name ~ ')' }}">
              </span>
              <span {{ bem("title", [], palettes_base_class) }}>
                {{ palette.name }} {{ color.name }} {{ color.default ? "*" : "" }}
              </span>
              <span {{ bem("definition", [], palettes_base_class) }}></span>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>
