{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{# If `directory` is defined, set the path relative for Drupal.
 # Otherwise, set the path relative to the Component Library. #}
{% set icon_src = directory ? '/' ~ directory ~ '/images/arrow.svg' : 'arrow.svg' %}

{% set breadcrumb__base_class = 'breadcrumb' %}

{% if breadcrumb %}
  <nav role='navigation' aria-labelledby='system-breadcrumb'>
    <div {{ bem('visually-hidden') }} id='system-breadcrumb'>{{ 'Breadcrumb'|t }}</div>
    <ol {{ bem(breadcrumb__base_class) }}>
    {% for item in breadcrumb %}
      <li {{ bem('item', [], breadcrumb__base_class) }}>
        {% if item.url %}
          {% include "@atoms/links/link/link.twig" with {
            link_url: item.url,
            link_content: item.text,
            link_modifiers: ['inline']
          } %}
        {% else %}
          {{ item.text }}
        {% endif %}
        {% if not loop.last %}
         {% include "@atoms/images/icons/_icon.twig" with {
            icon_name: 'arrow-short',
            icon_base_class: 'breadcrumb__icon',
          } %}
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}
