{% set webinar__base_class = 'node-white-papers' %}
{% set pdf_url = file_url(node.field_pdf_media.entity.field_media_file.entity.uri.value) %}
{% set hero_url = content.field_webform[0] ? '#download' : pdf_url %}

{% set breadcrumb = [{
  url: '/resources',
  text: 'Resources',
}, {
  url: '/resources?type%5Bwhite_paper%5D=white_paper',
  text: 'White Papers & Ebooks',
}] %}
<article {{ bem(webinar__base_class, [], [], classes) }}>
  {% embed "@templates/_default.twig" with {
  has_sidebar: true,
} %}
    {% block section_header %}
      {% include "@molecules/resource-node-hero/resource-node-hero.twig" with {
        resource_lead: label,
        resource_content: content.field_deck[0]|render,
        resource_cta: {
          href: hero_url,
          icon: 'download',
          title: 'Download the PDF',
        }
      } %}
    {% endblock %}
    {% block section_content %}
      <div {{ bem('content', [], webinar__base_class) }}>
        {{ content.body }}
        <div id="download">
          {{ content.field_webform }}
        </div>
        {{ content.field_topics }}
      </div>
    {% endblock %}
    {% block section_sidebar %}
      {{ drupal_entity('block', 'footer_newsletter') }}
      <div {{ bem('related-links', [], webinar__base_class) }}>
        {{ content.field_related_links }}
      </div>
    {% endblock %}
    {% block section_footer %}
      {% if drupal_view_result('you_may_also_enjoy', 'featured_resources') %}
        <section class="layout layout--light">
          {{ drupal_view('you_may_also_enjoy', 'featured_resources') }}
        </section>
      {% endif %}
    {% endblock %}
  {% endembed %}
</article>
