{% set episode__base_class = 'node-episode' %}
{% set podcast_breadcrumb = content.podcast_url ? { url: content.podcast_url, text: content.podcast_label } : '' %}
{% set current_page_breadcrumb = {text: 'Episode ' ~ content.field_episode_number[0]['#markup']} %}
{% set breadcrumb = [{
  url: '/resources',
  text: 'Resources',
}, {
  url: '/resources?type%5Bepisode%5D=episode',
  text: 'Podcasts',
}
] %}

{% if podcast_breadcrumb %}
  {% set breadcrumb = breadcrumb|merge([podcast_breadcrumb, current_page_breadcrumb]) %}
{% else %}
  {% set breadcrumb = breadcrumb|merge([current_page_breadcrumb]) %}
{% endif %}

<article {{ bem(episode__base_class, [], [], classes) }}>
  {% embed "@templates/_default.twig" with {
  has_sidebar: true,
} %}
    {% block section_header %}
      {% include "@molecules/resource-node-hero/resource-node-hero.twig" with {
        resource_lead: label,
        resource_is_podcast_episode: true,
        resource_podcast_url: content.podcast_url,
        resource_image: {
          alt: content.podcast_image.alt,
          src: file_url(content.podcast_image.src),
        },
      } %}
    {% endblock %}
    {% block section_content %}
      <div {{ bem('content', [], episode__base_class) }}>
        {{ content.field_audio_media }}
        {{ content.body }}
        {{ content.field_episode_guests }}
        {{ content.field_related_links }}
        {{ content.field_transcript }}
        {{ content.field_topics }}
      </div>
    {% endblock %}
    {% block section_sidebar %}
      {{ drupal_entity('block', 'footer_newsletter') }}
      {{ content.field_authors }}
    {% endblock %}
    {% block section_footer %}
      {% if drupal_view_result('you_may_also_enjoy', 'featured_resources') %}
        <section class="layout layout--light">
          {{ drupal_view('you_may_also_enjoy', 'featured_resources') }}
        </section>
      {% endif %}
    {% endblock %}
  {% endembed %}
</article>
