{#
/**
 * Available variables:
 * - intro_hero__deck: Header component.
 * - intro_hero__title: Preheader label.
 * - intro_hero__featured_content: Reference to featured content, including:
 *   - content: Featured content title.
 *   - url: Featured content url.
 * - intro_hero__image: Image component, including:
 *   - src: Image sources.
 *   - alt: Image Alt Text.
 * - intro_hero__link: CTA element, including:
 *   - content: CTA link text.
 *   - url: CTA link url.
 * - intro_hero__brands: Image list.
 */
#}

{% set intro_hero__base_class = 'intro-hero-primary' %}
{% set animation_class = intro_hero__typewriter.is_active or intro_hero__brands ? 'has-animations' %}

<div {{ bem(intro_hero__base_class, [], [], animation_class) }} {{ attributes }}>
  {% if intro_hero__typewriter.is_active or intro_hero__brands %}
    <div class="hero__animation-toggle">
        <input type="checkbox" class="visually-hidden" id="animation-toggle" name="animation-toggle" checked>
        <label for="animation-toggle">Animations <span class="slider"><span>on</span></span></label>
    </div>
  {% endif %}
  <div {{ bem('intro', [], intro_hero__base_class) }}>
    {% if intro_hero__title %}
      {% if not intro_hero__disable_typewriter %}<div {{ bem('typewriter', [], intro_hero__base_class, ['typewriter']) }}>{% endif %}
      {% if intro_hero__typewriter.is_active %}
        {% include "@atoms/text/headings/_heading.twig" with {
          heading_level: 1,
          heading: intro_hero__title,
          heading_base_class: 'label',
          heading_modifiers: ['md'],
        } %}
      {% else %}
        {% include '@atoms/text/text/01-paragraph.twig' with {
          paragraph_modifiers: ['md'],
          paragraph_base_class: 'label',
          paragraph_content: intro_hero__title,
        } %}
      {% endif %}
      {% if not intro_hero__disable_typewriter %}</div>{% endif %}
    {% endif %}
    {% if intro_hero__typewriter.is_active %}
      {% if intro_hero__typewriter.static_text or intro_hero__typewriter.typewriter_text %}
        <noscript>
          {% include "@atoms/text/headings/_heading.twig" with {
            heading_level: 2,
            heading: intro_hero__typewriter.aria_label,
            heading_modifiers: ['2xl'],
          } %}
        </noscript>
        {% include "@atoms/text/headings/_heading.twig" with {
          heading_level: 2,
          heading: intro_hero__typewriter.stationary_text,
          heading_modifiers: ['2xl'],
          heading_typewriter: intro_hero__typewriter.typewriter_text,
          heading_aria_label: intro_hero__typewriter.aria_label
        } %}
      {% endif %}
    {% else %}
      {% if intro_hero__deck %}
        {% include "@atoms/text/headings/_heading.twig" with {
          heading_level: 1,
          heading: intro_hero__deck,
          heading_modifiers: ['2xl'],
        } %}
      {% endif %}
    {% endif %}
    {% if intro_hero__link.url %}
      {% include "@atoms/buttons/button.twig" with {
        button_type: 'link',
        button_icon: 'arrow',
        button_url: intro_hero__link.url,
        button_content: intro_hero__link.content,
      } %}
    {% endif %}
  </div>
  <div {{ bem('featured-content', [], intro_hero__base_class) }}>
    <div {{ bem('image', [], intro_hero__base_class) }}>
      {% block image_content %}
        {% if intro_hero__image %}
          {% include "@atoms/images/image/image.twig" with {
            image_src: intro_hero__image.src,
            image_alt: intro_hero__image.alt,
          } %}
        {% endif %}
      {% endblock %}
      {{ featured_content }}
    </div>
    {% if intro_hero__featured_content %}
      <div {{ bem('heading', [], intro_hero__base_class) }}>
        {% include "@atoms/text/headings/_heading.twig" with {
          heading_level: 3,
          heading_modifiers: ['xs'],
          heading: intro_hero__featured_content.content,
        } %}
        {% include "@atoms/buttons/button.twig" with {
          button_type: 'link',
          button_icon: intro_hero__featured_content.link_icon,
          button_content: intro_hero__featured_content.link_text,
          button_modifiers: ['secondary-dark'],
          button_url: intro_hero__featured_content.url,
        } %}
      </div>
    {% endif %}
  </div>
  {% if intro_hero__brands %}
    <div {{ bem('brands', [], intro_hero__base_class) }}>
      {% block brands_content %}
        {% include "@molecules/brands/brands.twig" with {
          brand__items: intro_hero__brands,
        } %}
      {% endblock %}
    </div>
  {% endif %}
</div>
