{% set image_list__base_class = 'image-list' %}
{% set attributes = attributes.removeClass('section') %}

<div {{ bem(image_list__base_class, [image_list__modifiers, image_list__collage_image_alignment]) }}>
	{% block primary_image %}
		{% if primary_images %}
			<ul {{ bem('primary-images-wrapper', [image_list__collage_group_items_amount], image_list__base_class) }}>
				{% for primary_image in primary_images %}
					<li {{ bem('primary-image', [], image_list__base_class) }}>
						<div {{ bem('image-wrapper', [], image_list__base_class) }}>
							{% include "@atoms/images/image/_image.twig" with {
                image_src: primary_image.src,
                image_alt: primary_image.alt, 
              } %}
						</div>
						{% if primary_image.caption %}
							{% include '@atoms/text/text/01-paragraph.twig' with {
                paragraph_modifiers: ['md'],
                paragraph_content: primary_image.caption,
              } %}
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endblock %}

  {% block secondary_image %}
    {% if primary_images %}
      <ul {{ bem('secondary-images-wrapper', [image_list__collage_group_items_amount], image_list__base_class) }}>
        {% for secondary_image in secondary_images %}
          <li {{ bem('secondary-image', [], image_list__base_class) }}>
						<div {{ bem('image-wrapper', [], image_list__base_class) }}>
							{% include "@atoms/images/image/_image.twig" with {
                image_src: secondary_image.src,
                image_alt: secondary_image.alt, 
              } %}
						</div>
						{% if secondary_image.caption %}
							{% include '@atoms/text/text/01-paragraph.twig' with {
                paragraph_modifiers: ['md'],
                paragraph_content: secondary_image.caption,
              } %}
						{% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endblock %}
</div>
